# COVID-19 Data Processing for Total Number of Infections.

In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 3041-72E3

 Directory of C:\Users\StevenJBark\Desktop\Coronavirus

06/07/2020  10:03 AM    <DIR>          .
06/07/2020  10:03 AM    <DIR>          ..
04/28/2020  08:55 AM    <DIR>          .ipynb_checkpoints
04/10/2020  11:06 AM    <DIR>          20200408_Data
04/15/2020  10:00 AM    <DIR>          20200409_Data
04/21/2020  10:35 AM    <DIR>          20200414_Data
04/22/2020  07:28 PM    <DIR>          20200420_Data
04/28/2020  11:33 AM    <DIR>          20200427_Data
05/11/2020  12:15 PM    <DIR>          20200509_Data
05/31/2020  10:22 AM    <DIR>          20200518_Data
06/07/2020  09:51 AM         1,161,303 20200607covid_confirmed_usafacts.csv
06/07/2020  09:52 AM            98,761 20200607covid_county_population_usafacts.csv
06/07/2020  09:51 AM         1,002,369 20200607covid_deaths_usafacts.csv
04/28/2020  11:35 AM    <DIR>          Bootstrap_WebPage
05/09/2020  02:58 PM            38,965 COVID_Deaths_Notebook1 .ipynb
06/07/2020  10:03 AM            73,721 COVID_Infections_Notebook1.ipynb
04/16/2020  04:16 PM    <DIR>          COVID_WebPageTest1
05/22/2020  11:07 AM    <DIR>          COVID-19_InfoPage
04/09/2020  10:15 AM             2,169 Untitled.ipynb
               6 File(s)      2,377,288 bytes
              13 Dir(s)  391,769,059,328 bytes free

### Conversion of total confirmed infections data into normalized number of infections per 100,000. Strategy: data in confirmed infections is in numbers, divide by total population in county, then multiply by 100,000.

### Dataframe for confirmed cases.

In [3]:
covid_dfA = pd.read_csv("20200607covid_confirmed_usafacts.csv")

In [4]:
covid_dfA.shape

(3195, 141)

In [5]:
covid_dfA.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,205,212,216,220,233,238,239,241,248,259
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,281,282,283,288,292,292,292,293,296,304
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,132,147,150,164,172,175,177,177,183,190
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,71,71,72,75,76,76,76,76,76,77

### Add column for population into covid_dfA dataframe.

In [7]:
covid_dfA["population"] = ""

### Dataframe for county populations

In [8]:
countypop_df = pd.read_csv("20200607covid_county_population_usafacts.csv")

In [9]:
countypop_df.head(5)

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

### Add populations from countypop_df into covid_dfA.

In [10]:
covid_dfA["population"] = countypop_df["population"]

In [11]:
covid_dfA.head(5)

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,212,216,220,233,238,239,241,248,259,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,282,283,288,292,292,292,293,296,304,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,147,150,164,172,175,177,177,183,190,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,71,72,75,76,76,76,76,76,77,22394

In [12]:
covid_dfA.shape

(3195, 142)

### Remove Statewide Unallocated to eliminate population = 0 errors.

In [13]:
covid_dfB = covid_dfA.loc[covid_dfA["County Name"] != "Statewide Unallocated"]

In [14]:
covid_dfB.shape

(3145, 142)

In [15]:
covid_dfB.tail()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,population
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,26,27,30,30,30,31,32,32,32,42343
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,100,100,100,100,100,100,100,100,100,23464
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,12,12,12,12,13,13,13,19,19,20226
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,35,36,36,37,37,37,39,39,39,7805
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,6927

### Used the following code, and error was division by zero.
##### normalized_list = []
##### for index, row in covid_dfB.iterrows():
#####    new_list = [row[0],row[1], row[2], row[3]]
#####    for n in range(4, len(columns)):
#####        new_list.append(row[n]/row[len(columns)-1])
#####    normalized_list.append(new_list)

### Tested for any populations that are zero and found 3!

In [16]:
covid_dfB.loc[covid_dfB["population"] == 0]

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,population
95,2270,Wade Hampton Census Area,AK,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192,6000,Grand Princess Cruise Ship,CA,6,0,0,0,0,0,0,...,21,21,21,21,21,21,21,21,21,0
1862,1,New York City Unallocated/Probable,NY,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Remove the rows with 0 for population. Census and unallocated are not populations, cruise ship is not a population.

In [17]:
covid_dfC = covid_dfB.loc[covid_dfB["population"] != 0]

In [18]:
covid_dfC.shape

(3142, 142)

### New dataframe with calculation for infection number data for each day with population normalization per 100,000.

In [19]:
columns = covid_dfC.columns

In [20]:
len(columns)

142

In [21]:
normalized_list = []

for index, row in covid_dfC.iterrows():
    new_list = [row[0],row[1], row[2], row[3]]
    for n in range(4, len(columns)):
        x = row[n]/row[len(columns)-1]
        new_list.append(100000*x)
    normalized_list.append(new_list)

In [22]:
# Check that the lists within the normalized list added up to 3142 as in shape for rows in covid_dfC
len(normalized_list)

3142

In [23]:
# Checked that the numbers were reasonable for list of lists!
# normalized_list[96]

### Create dataframe from the list of lists.

In [24]:
covid_dfD = pd.DataFrame(normalized_list, columns=columns)

In [25]:
covid_dfD.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,population
0,1001,Autauga County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,379.459092,386.618697,393.778303,417.047021,425.996528,427.786429,431.366232,443.895541,463.584456,100000.0
1,1003,Baldwin County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,126.324843,126.772803,129.012606,130.804447,130.804447,130.804447,131.252408,132.596289,136.179973,100000.0
2,1005,Barbour County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,595.479219,607.631856,664.344163,696.751195,708.903832,717.005590,717.005590,741.310864,769.667018,100000.0
3,1007,Bibb County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,317.049210,321.514691,334.911137,339.376619,339.376619,339.376619,339.376619,339.376619,343.842101,100000.0
4,1009,Blount County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,103.759555,105.488880,107.218206,108.947532,108.947532,108.947532,108.947532,110.676858,121.052814,100000.0

### Write to a .csv file as normalized per 100000 data.

In [26]:
covid_dfD.to_csv("20200607_NormalizedInfectionData.csv")

# Create new dataframe and file for differences in infections each day of outbreak.

In [27]:
covid_df1 = pd.read_csv("20200607covid_confirmed_usafacts.csv")

In [28]:
covid_df1.shape

(3195, 141)

In [29]:
covid_df1.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,205,212,216,220,233,238,239,241,248,259
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,281,282,283,288,292,292,292,293,296,304
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,132,147,150,164,172,175,177,177,183,190
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,71,71,72,75,76,76,76,76,76,77

In [30]:
covid_df1.columns

Index(['countyFIPS', 'County Name', 'State', 'stateFIPS', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20',
       '6/3/20', '6/4/20', '6/5/20', '6/6/20'],
      dtype='object', length=141)

In [31]:
len(covid_df1.columns)

141

### We are calculating differences, so all of the columns will be present except the first day (1/22/20) because there are no days before that one. Remove.

In [32]:
columns = list(covid_df1.columns)
columns.pop(4)

'1/22/20'

### Create empty list, then append new lists from countyFIPS, County Name, State, stateFIPS, then add new item for number of infections on each day minus the number of infections from previous day. Then divide by previous day to indicate percentage increase or decrease. If previous day was 0, then input 0 instead of calculating (division by 0).

In [33]:
total_list = []

for index, row in covid_df1.iterrows():
    diff_list = [row[0], row[1], row[2], row[3]]
    for n in range(5,len(covid_df1.columns)):
        if row[n] == 0:
            diff_list.append(0)
        else:
            diff_list.append(((row[n]-row[n-1])/row[n])*100)
    total_list.append(diff_list)

In [34]:
#total_list[:10]

In [35]:
len(total_list)

3195

In [38]:
covid_df2 = pd.DataFrame(total_list, columns=columns)

In [39]:
covid_df2.head()

,countyFIPS,County Name,State,stateFIPS,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1001,Autauga County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,6.341463,3.301887,1.851852,1.818182,5.579399,2.100840,0.418410,0.829876,2.822581,4.247104
2,1003,Baldwin County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.354610,0.353357,1.736111,1.369863,0.000000,0.000000,0.341297,1.013514,2.631579
3,1005,Barbour County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.515152,10.204082,2.000000,8.536585,4.651163,1.714286,1.129944,0.000000,3.278689,3.684211
4,1007,Bibb County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.388889,4.000000,1.315789,0.000000,0.000000,0.000000,0.000000,1.298701

### Remove Statewide Unallocated information, not useful.

In [40]:
covid_df3 = covid_df2.loc[covid_df2["County Name"] != "Statewide Unallocated"]

In [41]:
covid_df3.head()

,countyFIPS,County Name,State,stateFIPS,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
1,1001,Autauga County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,6.341463,3.301887,1.851852,1.818182,5.579399,2.100840,0.418410,0.829876,2.822581,4.247104
2,1003,Baldwin County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.354610,0.353357,1.736111,1.369863,0.000000,0.000000,0.341297,1.013514,2.631579
3,1005,Barbour County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.515152,10.204082,2.000000,8.536585,4.651163,1.714286,1.129944,0.000000,3.278689,3.684211
4,1007,Bibb County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.388889,4.000000,1.315789,0.000000,0.000000,0.000000,0.000000,1.298701
5,1009,Blount County,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,...,8.620690,3.333333,1.639344,1.612903,1.587302,0.000000,0.000000,0.000000,1.562500,8.571429

In [42]:
covid_df3.shape

(3145, 140)

### Output to a .csv file for use in Tableau.

In [43]:
covid_df3.to_csv("20200607_COVID_DiffMapTest.csv")